[submodule "C"]
	path = C
	url = https://github.com/BoyerDamien/C.git
[submodule "libft"]
	path = libft
	url = https://github.com/BoyerDamien/libft.git
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/BoyerDamien/ft_printf.git
[submodule "ft_server"]
	path = ft_server
	url = https://github.com/BoyerDamien/ft_server.git
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/BoyerDamien/get_next_line.git
